NEO_DATABASE_URL="postgresql://user:password@localhost:5432/neo_usage"
NEO_NETWORK=MainNet
RPC_ENDPOINT_1="https://mainnet1.neo.coz.io"
RPC_ENDPOINT_2="https://mainnet2.neo.coz.io"
ADMIN_TOKEN="change-me"
